.container1,.container2 {
  width: 70%;
  
  margin: auto;
  text-align: center;
}
.container1{
  height: 350px;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
.btn{
  width: 150px;
  height: 60px;
  margin: 10% 50%;
  border: #232931 solid;
  border-radius: 10px;
  color: #ffffff;
  background-color: #4ECCA3;
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
  cursor: pointer;
  position: relative;
  right: 75px;

  
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
